.well h1, .well h1 a, .sidebar.well ul li a { 
  color: #333;
}

.sidebar.well ul {
  list-style-type:none;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height:200px;
}

.navbar {
  min-height:30px;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top:5px;
    padding-bottom:5px;
  }
}
.author a {
  color:#333;
}

.share-page{
  padding-top:40px;
  border-bottom:2px solid;
  border-color:rgba(0,39,59,.08);
}

.share-page a{
  padding-left: 5px;
}
